template(name="dataShow")
  h2 #{experimentName}
  p: a(href="/d/#{experimentName}/all_json/") view/download json data for all participants
  ul
    each allData
      li #{createdFormatted} 
        if experimenterEmail
          span : experimenter = #{ experimenterEmail }
        if participantId
          span : participantId = #{ participantId }
        span : 
        a(href="/d/#{experimentName}/csv/#{_id}") view csv
        span  |  
        a(href="/d/#{experimentName}/json/#{_id}") view json
        //- : participant #{ participantId }


template(name="dataShowCSV")
  h2 
    a(href="/d/#{experimentName}") #{experimentName}
  p created : #{createdFormatted}
  p(style='white-space: pre-wrap;font-family:"Lucida Console", Monaco, monospace') 
    pre #{csvData}

template(name="dataShowJSON")
  h2 
    a(href="/d/#{experimentName}") #{experimentName}
  p created : #{createdFormatted}
  p(style='white-space: pre-wrap;font-family:"Lucida Console", Monaco, monospace') 
    pre #{jsonData}

template(name="dataShowAllJSON")
  h2 
    a(href="/d/#{experimentName}") #{experimentName}
  p(style='white-space: pre-wrap;font-family:"Lucida Console", Monaco, monospace') 
    pre #{allData}